<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../CSS/style.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/github-dark.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <title>Global API</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="app">
            <div class="collection">
                <h3 class="under-line">はじめに</h3>
                <span>ここの内容は<a href="https://www.tohoho-web.com/ex/vuejs.html">Vue.js入門 - とほほのＷＷＷ入門</a>に記述されているモノを写しているだけです。詳しく知りたい場合は自分で調べてね。<br>ここでは、グローバルAPIの利用についてをいろいろ試しているよ。</span>
                <br>
                <div class="toTop"><a href="../index.html">トップ</a></div>
            </div>

            <div class="collection">
                <h3 class="under-line">Component1</h3>
                <div class="contents">
                    <div class="web-content">
                        <my-component1></my-component1>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
        &lt;my-component&gt;&lt;/my-component&gt;
    &lt;/div&gt;
    &lt;script&gt;
    Vue.component(&#039;my-component&#039;,{ template: &#039;&lt;strong&gt;Hello!!&lt;/strong&gt;&#039; });
    var app = new Vue({
        el: &#039;#app&#039;,
    })
    &lt;/script&gt;</code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Component2</h3>
                <div class="contents">
                    <div class="web-content">
                        <my-component2></my-component2>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
        &lt;my-component&gt;&lt;/my-component&gt;
    &lt;/div&gt;
    &lt;script&gt;
    var MyComponent = Vue.extend({ template: &#039;&lt;strong&gt;Hello!!&lt;/strong&gt;&#039; });
    Vue.component(&#039;my-component&#039;, MyComponent);
    var app = new Vue({
        el: &#039;#app&#039;,
    })
    &lt;/script&gt;</code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Component next tick</h3>
                <div class="contents">
                    <div class="web-content">
                        <button onclick="location.reload()">再表示</button>
                        <div v-once>Default :{{ message1 }}</div>
                        <div>nextTick callback :{{ message1 }}</div>
                        <div class="memo">nextTickはDOM更新サイクル終了後に呼び出されるため。デフォルト値とコールバック値を確認するか、検証画面のコンソールからnextTickのbefore/afterを比較して確認を行う。</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
        &lt;button onclick=&quot;location.reload()&quot;&gt;再表示&lt;/button&gt;
        &lt;div v-once&gt;Default :{{ message }}&lt;/div&gt;
        &lt;div&gt;nextTick callback :{{ message }}&lt;/div&gt;
    &lt;/div&gt;
    &lt;script&gt;
    var app = new Vue({
        el: &#039;#app&#039;,
        data: {
            message: &#039;Hello!!&#039;,
        },
    })
    console.log(&#039;nextTick before: &#039; + app.message);
    app.message1 = &#039;Bye!&#039;;
    Vue.nextTick(function() {
        console.log(&#039;nextTick after: &#039; + app.message);
    })
    &lt;/script&gt;
                            
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Vue set/delete</h3>
                <div class="contents">
                    <div class="web-content">
                        <input type="button" @click="addColor" value="Add">
                        <input type="button" @click="deleteColor" value="Delete">
                        <ul>
                            <li v-for="(value, key) in colors" :key="key">{{ key }}:{{ value }}</li>
                        </ul>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
    &lt;input type=&quot;button&quot; @click=&quot;addColor&quot; value=&quot;Add&quot;&gt;
        &lt;input type=&quot;button&quot; @click=&quot;deleteColor&quot; value=&quot;Delete&quot;&gt;
        &lt;ul&gt;
            &lt;li v-for=&quot;(value, key) in colors&quot; :key=&quot;key&quot;&gt;{{ key }}:{{ value }}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;script&gt;
    var app = new Vue({
        el: &#039;#app&#039;,
        data: {
            colors: {black:&#039;#000000&#039;, white:&#039;#FFFFFF&#039;},
            version: Vue.version,
        },
        methods: {
            addColor: function() {
                Vue.set(this.colors, &#039;blue&#039;, &#039;#0000FF&#039;);
            },
            deleteColor: function() {
                Vue.delete(this.colors, &#039;blue&#039;);
            }
        }
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Vue directive</h3>
                <div class="contents">
                    <div class="web-content">
                        <div v-myfont>Hello!!</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
        &lt;div v-myfont&gt;Hello!!&lt;/div&gt;
    &lt;/div&gt;
    &lt;script&gt;
    Vue.directive(&#039;myfont&#039;, {
        inserted: function(el){
            el.style.fontSize = &#039;48pt&#039;
        }
    });
    var app = new Vue({
        el: &#039;#app&#039;,
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Vue filter</h3>
                <div class="contents">
                    <div class="web-content">
                        <div>{{ message2 | toupper }}</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
        &lt;div&gt;{{ message | toupper }}&lt;/div&gt;
    &lt;/div&gt;
    &lt;script&gt;
    Vue.filter(&#039;toupper&#039;, function(value) {
        return value.toUpperCase();
    });
    var app = new Vue({
        el: &#039;#app&#039;,
        data: {
            message: &#039;Hello!!&#039;,
        },
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Vue use</h3>
                <div class="contents">
                    <div class="web-content">
                        <div class="memo">自作のプラグインを呼び出せる。</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
    &lt;/div&gt;
    &lt;script&gt;
    Vue.use(MyPlugin);
    var app = new Vue({
        el: &#039;#app&#039;,
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Global mixin</h3>
                <div class="contents">
                    <div class="web-content">
                        <div class="memo">グローバルミックスイン、後で詳しく確認する。</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
    &lt;/div&gt;
    &lt;script&gt;
    Vue.mixin({
        created: function() {
            console.log(this);
        }
    });
    var app = new Vue({
        el: &#039;#app&#039;,
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Vue compile</h3>
                <div class="contents">
                    <div class="web-content">
                        <div class="memo">コンパイルして画面へレンダリングするまでを行ってくれているみたい？<br>他の表示が上書きされてしまうので今は非表示<br>後で調べてみて可能ならサンプルの1つとして表示する。</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
    &lt;/div&gt;
    &lt;script&gt;
    var res = Vue.compile(&#039;&lt;div&gt;{{ message }}&lt;/div&gt;&#039;);
    var app = new Vue({
        el: &#039;#app&#039;,
        render: res.render,
        staticRenderFns: res.staticRenderFns,
        data: {
            message: &#039;Hello!!&#039;,
        },
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>

            <div class="collection">
                <h3 class="under-line">Vue version</h3>
                <div class="contents">
                    <div class="web-content">
                        <div>{{ version }}</div>
                    </div>
                    <div class="code-content">
                        <pre><code v-pre>    &lt;div id="app"&gt;
        &lt;div&gt;{{ version }}&lt;/div&gt;
    &lt;/div&gt;
    &lt;script&gt;
    var app = new Vue({
        el: &#039;#app&#039;,
        data: {
            version: Vue.version,
        },
    })
    &lt;/script&gt;
                        </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <script>

        // Component1
        Vue.component('my-component1',{ template: '<strong>Hello!!</strong>' });
        
        // Component2
        var MyComponent2 = Vue.extend({ template: '<strong>Hello!!</strong>' });
        Vue.component('my-component2', MyComponent2);

        // Directive
        Vue.directive('myfont', {
            inserted: function(el){
                el.style.fontSize = '48pt'
            }
        });

        // Fillter
        Vue.filter('toupper', function(value) {
            return value.toUpperCase();
        });

        // myPulgin
        // Vue.use(MyPlugin);

        // mixin
        Vue.mixin({
            created: function() {
                console.log(this);
            }
        });

        // compile
        var res = Vue.compile('<div>{{ message2 }}</div>');

        var app = new Vue({
            el: '#app',
            data: {
                message1: 'Hello!!',
                message2: 'Hello!!',
                colors: {black:'#000000', white:'#FFFFFF'},
                version: Vue.version,
            },
            // render: res.render,
            // staticRenderFns: res.staticRenderFns,
            methods: {
                addColor: function() {
                    Vue.set(this.colors, 'blue', '#0000FF');
                },
                deleteColor: function() {
                    Vue.delete(this.colors, 'blue');
                }
            }
        })

        // nextTick
        console.log('nextTick before: ' + app.message1);
        app.message1 = 'Bye!';
        Vue.nextTick(function() {
            console.log('nextTick after: ' + app.message1);
        })

        </script>
    </body>
</html>